<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<!-- <link rel="stylesheet" href="libs/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="stylesheets/diagram.css">
	<script src="https://code.jquery.com/jquery-2.1.2.js"></script>
	<!-- <script src="libs/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script> -->
	<script src="libs/angular.js/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.min.js"></script>
	<script src="libs/svg-pan-zoom.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
	<div style="height:95px;">
		<div style="float:left; width:270px; " id="cornerBlock"></div>
		<div style="float:left; width:calc(100% - 270px); overflow:hidden;" id="headerBlock"></div>
	</div>
	<div style="clear:left; height:calc(100% - 95px);">
		<div style="float:left; width:270px; max-height:calc(100vh - 95px); overflow:hidden;" id="issuesBlock"></div>
		<div style="float:left; width:calc(100% - 270px); overflow:auto; max-height:calc(100vh - 95px);" id="contentBlock"></div>
		<!-- <embed id="viewer" type="image/svg+xml" src="imgs/4001.svg"></embed> -->
	</div>
</body>

<script>
		// $(document).ready(function () {
		// 	$("#viewer").load(function() {
		// 		let svgTriger = svgPanZoom('#viewer', {
		// 			zoomEnabled: true,
		// 			controlIconsEnabled: false,
		// 			fit: true,
		// 			center: true
		// 		});
		// 	});
		// });

		var cornerGrids = {
			width: 9,
			height: 3,
			data: [
				{title: 'ISSUE', pos: [0,0,3,3] },
				{title: 'LOTTE', pos: [3,0,6,3] }
			]
		};

		var headerGrids = {
			width: 33,
			height: 3,
			data: [
				{title: 'RED', pos: [0,0,33,1] },
				{title: 'FRONT AREA', pos: [0,1,11,1] },
				{title: 'MIDDLE AREA', pos: [11,1,11,1] },
				{title: 'BACK AREA', pos: [22,1,11,1] }, 
				{title: '01', pos: [0,2,1,1] }, 
				{title: '02', pos: [1,2,1,1] }, 
				{title: '03', pos: [2,2,1,1] }, 
				{title: '04', pos: [3,2,1,1] }, 
				{title: '05', pos: [4,2,1,1] }, 
				{title: '06', pos: [5,2,1,1] }, 
				{title: '07', pos: [6,2,1,1] }, 
				{title: '08', pos: [7,2,1,1] }, 
				{title: '09', pos: [8,2,1,1] }, 
				{title: '10', pos: [9,2,1,1] }, 
				{title: '11', pos: [10,2,1,1] }, 
				{title: '12', pos: [11,2,1,1] }, 
				{title: '13', pos: [12,2,1,1] }, 
				{title: '14', pos: [13,2,1,1] }, 
				{title: '15', pos: [14,2,1,1] }, 
				{title: '16', pos: [15,2,1,1] }, 
				{title: '17', pos: [16,2,1,1] }, 
				{title: '18', pos: [17,2,1,1] }, 
				{title: '19', pos: [18,2,1,1] }, 
				{title: '20', pos: [19,2,1,1] }, 
				{title: '21', pos: [20,2,1,1] }, 
				{title: '22', pos: [21,2,1,1] }, 
				{title: '23', pos: [22,2,1,1] }, 
				{title: '24', pos: [23,2,1,1] }, 
				{title: '25', pos: [24,2,1,1] }, 
				{title: '26', pos: [25,2,1,1] }, 
				{title: '27', pos: [26,2,1,1] }, 
				{title: '28', pos: [27,2,1,1] }, 
				{title: '29', pos: [28,2,1,1] }, 
				{title: '30', pos: [29,2,1,1] }, 
				{title: '31', pos: [30,2,1,1] }, 
				{title: '32', pos: [31,2,1,1] }, 
				{title: '33', pos: [32,2,1,1] }
			]
		};

		var lotteryHistory_30 = [
			[2016100, 03, 10, 22, 23, 27, 29, 04],
			[2016101, 01, 03, 19, 24, 32, 33, 01],
			[2016102, 05, 08, 10, 14, 17, 30, 13],
			[2016103, 01, 05, 13, 19, 24, 27, 11],
			[2016104, 05, 09, 11, 18, 30, 31, 04],
			[2016105, 08, 10, 19, 27, 28, 31, 16],
			[2016106, 04, 05, 13, 22, 25, 30, 04],
			[2016107, 06, 11, 18, 26, 27, 32, 01],
			[2016108, 02, 03, 07, 08, 19, 26, 16],
			[2016109, 09, 11, 15, 16, 27, 33, 05],
			[2016110, 05, 07, 28, 31, 32, 33, 08],
			[2016111, 02, 04, 07, 14, 15, 32, 04],
			[2016112, 06, 12, 14, 15, 18, 25, 12],
			[2016113, 01, 11, 16, 17, 20, 26, 14],
			[2016114, 05, 16, 20, 22, 27, 29, 09],
			[2016115, 06, 08, 20, 22, 26, 27, 09],
			[2016116, 07, 18, 20, 23, 27, 31, 13],
			[2016117, 03, 10, 14, 17, 28, 33, 02],
			[2016118, 09, 14, 22, 23, 31, 33, 14],
			[2016119, 09, 19, 21, 30, 31, 32, 04],
			[2016120, 02, 05, 06, 21, 25, 28, 09],
			[2016121, 02, 03, 10, 23, 25, 28, 09],
			[2016122, 15, 22, 23, 24, 28, 29, 08],
			[2016123, 07, 09, 12, 14, 20, 27, 16],
			[2016124, 09, 15, 21, 24, 27, 32, 10],
			[2016125, 01, 06, 08, 20, 27, 30, 03],
			[2016126, 02, 06, 12, 17, 18, 19, 10],
			[2016127, 07, 12, 17, 26, 29, 31, 16],
			[2016128, 04, 09, 11, 17, 26, 27, 13],
			[2016129, 05, 06, 08, 21, 31, 33, 14],
			[2016130, 03, 17, 21, 23, 27, 28, 01],
			[2016131, 03, 17, 21, 23, 27, 28, 01]
		];

		var cell_width = 30;

		drawGrids('#cornerBlock', cornerGrids);
		drawGrids('#headerBlock', headerGrids);
		drawLeftColumn('#issuesBlock', lotteryHistory_30);
		drawContent('#contentBlock', lotteryHistory_30);

		function drawGrids(container, defination) {
		
			let	overall_width = defination.width * cell_width;
				overall_height = defination.height * cell_width,
				cell_color = 'white';
	
			let svg = d3.select(container).append("svg")
				.style("float", "left")			
				.attr("width", overall_width)
				.attr("height", overall_height)
				.append("g");

			let background = svg.append("rect")
				.style("stroke", "darkgrey")
				.style("stroke-width", "2px")
				.attr("width", overall_width)
				.attr("height", overall_height);

			let scale_x = d3.scaleBand()
				.domain(d3.range(defination.width))
				.range([0, overall_width]);

			let scale_y = d3.scaleBand()
				.domain(d3.range(defination.height))
				.range([0, overall_height]);

			// define rows
			let header_cells = svg.selectAll(".header_cell")
				.data(defination.data)
				.enter().append("g")
				.attr("class", "header_cell")
				.attr("transform", function(d) { return "translate(" + scale_x(d.pos[0]) + "," + scale_y(d.pos[1]) + ")"; })
				.style("fill", function(d, i) { return cell_color; });
				
			// draw rect for the cell
			header_cells.append('rect')
				.attr("width", function(d, i) { return scale_x.bandwidth() * d.pos[2]; })
				.attr("height", function(d, i) { return scale_y.bandwidth() * d.pos[3]; })
				.style("stroke-width", 0);

			header_cells.append("text")
				.attr("dy", ".36em")
				.attr("x", function(d) { return scale_x.bandwidth() * d.pos[2] / 2; })
				.attr("y", function(d) { return scale_y.bandwidth() * d.pos[3] / 2; })
				.attr("text-anchor", "middle")
				.style("fill", 'grey')
				.text(function(d, i) { return d.title; });
		}

		function drawLeftColumn(container, data) {

			let	issue_count = data.length,
				overall_width = cell_width * 9, // column 0
				overall_height = cell_width * issue_count,
				odd_color = 'white',
				even_color = 'lightgrey';
		
			if(!data){
				throw new Error('Please pass data');
			}
		
			if(!Array.isArray(data) || !data.length || !Array.isArray(data[0])){
				throw new Error('It should be a 2-D array');
			}
	
			let svg = d3.select(container).append("svg")
				.style("float", "left")
				.attr("width", overall_width)
				.attr("height", overall_height)
				.append("g");
				
			let scale_y = d3.scaleBand()
				.domain(d3.range(issue_count))
				.range([0, overall_height]);

			let background = svg.append("rect")
				.style("stroke", "darkgrey")
				.style("stroke-width", "2px")
				.attr("width", overall_width)
				.attr("height", overall_height);

			// define rows
			let data_rows = svg.selectAll(".row")
				.data(data)
				.enter().append("g")
				.attr("class", "row")
				.attr("transform", function(d, i) { return "translate(0," + scale_y(i) + ")"; })
				.style("fill", function(d, i) { return i % 2 === 0 ? odd_color : even_color; });

			drawIssuecolumn(data_rows, cell_width * 3, 0, scale_y);
			drawLottoColumn(data_rows, cell_width * 6, cell_width * 3, scale_y);
		}

		function drawIssuecolumn(rows, issue_width, offset_x, scale_y) {
			var issue_cell = rows.selectAll(".issue_cell")
				.data(function(d) { return [ d[0] ]; })
				.enter().append("g")
				.attr("class", "issue_cell");
		
			// draw rect for the cell
			issue_cell.append('rect')
				.attr("x", offset_x)
				.attr("width", issue_width)
				.attr("height", scale_y.bandwidth())
				.style("stroke-width", 0);

			issue_cell.append("text")
				.attr("dy", ".36em")
				.attr("x", offset_x + issue_width / 2)
				.attr("y", scale_y.bandwidth() / 2)
				.attr("text-anchor", "middle")
				.style("fill", 'grey')
				.text(function(d) { return d; });
		}

		function drawLottoColumn(rows, lotto_width, offset_x, scale_y) {

			var lotto_cell = rows.selectAll(".lotto_cell")
				.data(function(d) { return [ { reds: getLottoStr(d.slice(1, 7)), blue: formatNumberAs00(d[7]) } ]; })
				.enter().append("g")
				.attr("class", "lotto_cell");
		
			// draw rect for the cell
			lotto_cell.append('rect')
				.attr("x", offset_x)
				.attr("width", lotto_width)
				.attr("height", scale_y.bandwidth())
				.style("stroke-width", 0);

			let lotto_text = lotto_cell.append("text")
				.attr("dy", ".36em")
				.attr("x", offset_x + lotto_width / 2)
				.attr("y", scale_y.bandwidth() / 2)
				.attr("text-anchor", "middle")
				.style("fill", 'grey')
				.text(function(d, i) { return d.reds; });

			lotto_text.append("tspan")
				.attr("text-anchor", "left")
				.style("fill", 'darkblue')
				.text(function(d, i) { return d.blue; });
		}

		function drawContent(container, data) {
			let red_cell_count = 33,
				issue_count = data.length;

			let	red_field_width = cell_width * red_cell_count,
				overall_width = red_field_width,
				overall_height = cell_width * issue_count,
				odd_color = 'white',
				even_color = 'lightgrey';
		
			if(!data){
				throw new Error('Please pass data');
			}
		
			if(!Array.isArray(data) || !data.length || !Array.isArray(data[0])){
				throw new Error('It should be a 2-D array');
			}
	
			let svg = d3.select(container).append("svg")
				.style("float", "left")
				.attr("width", overall_width)
				.attr("height", overall_height)
				.append("g");
				
			let scale_y = d3.scaleBand()
				.domain(d3.range(issue_count))
				.range([0, overall_height]);

			let background = svg.append("rect")
				.style("stroke", "darkgrey")
				.style("stroke-width", "2px")
				.attr("width", overall_width)
				.attr("height", overall_height);

			// define rows
			let data_rows = svg.selectAll(".row")
				.data(data)
				.enter().append("g")
				.attr("class", "row")
				.attr("transform", function(d, i) { return "translate(0," + scale_y(i) + ")"; })
				.style("fill", function(d, i) { return i % 2 === 0 ? odd_color : even_color; });

			let red_field_scale_x = d3.scaleBand()
				.domain(d3.range(red_cell_count))
				.range([0, red_field_width]);

			drawRedField(data_rows, red_field_scale_x, scale_y);

			// draw the connection lines
			drawRedConnection(svg, data, red_field_scale_x, scale_y);
		}

		function drawRedConnection(svg, data, scale_x, scale_y) {
			// form the data for connection
			let connection_data = [],
				offset_y = scale_y.bandwidth() / 2,
				offset_x = - scale_x.bandwidth() / 2,
				shorter_len = scale_y.bandwidth() - 4;

			data.forEach(function (val, index) {
				if (index > 0) {
					connection_data[index - 1] = calculateLinePoints(scale_x(data[index - 1][1]), 0, scale_x(val[1]), scale_y.bandwidth(), shorter_len);
				}
			});

			// draw the connection line between rows
			let red_connection = svg.selectAll(".red_connection")
				.data(connection_data)
				.enter().append("g")
				.attr("class", "red_connection")
				.attr("transform", function(d, i) { return "translate(" + offset_x + "," + (scale_y(i) + offset_y) + ")"; });

			red_connection.append('line')
				.attr("x1", function(d) { return d.x1; })
				.attr("y1", function(d) { return d.y1; })
				.attr("x2", function(d) { return d.x2; })
				.attr("y2", function(d) { return d.y2; })
				.attr("transform-origin", "center")
				.style("stroke-width", 2)
				.style('stroke', 'darkred');

			function calculateLinePoints(x1, y1, x2, y2, shorter) {
				let disX = x2 - x1,
					disY = y2 - y1,
					distance = Math.sqrt( disX * disX + disY *disY ),
					lineLength = distance - shorter,
					scale = lineLength / distance,
					halfX = (x1 + x2) / 2 ,
					halfY = (y1 + y2) / 2;

				return {
					x1 : halfX - disX * scale / 2,
					x2 : halfX + disX * scale / 2,
					y1 : halfY - disY * scale / 2,
					y2 : halfY + disY * scale / 2
				};
			}
		}

		function drawRedField(rows, scale_x, scale_y) {
		
			// define the red number cells
			let red_cell = rows.selectAll(".red_cell")
				.data(function(d) { return buildRedFieldData(d.slice(1, 7)); })
				.enter().append("g")
				.attr("class", "red_cell")
				.attr("transform", function(d, i) { return "translate(" + scale_x(i) + ", 0)"; });

			// draw rect for cell
			red_cell.append('rect')
				.attr("width", scale_x.bandwidth())
				.attr("height", scale_y.bandwidth())
				.style("stroke-width", 0);

			red_cell.append("text")
				.attr("dy", ".36em")
				.attr("x", scale_x.bandwidth() / 2)
				.attr("y", scale_y.bandwidth() / 2)
				.attr("text-anchor", "middle")
				.style("fill", 'grey')
				.text(function(d, i) { return formatNumberAs00(d); });
			
			// draw circle for hint number
			let hint_red_cell = rows.selectAll(".hint_red_cell")
				.data(function(d) { return d.slice(1, 7); })
				.enter().append("g")
				.attr("class", "hint_red_cell")
				.attr("transform", function(d, i) { return "translate(" + scale_x(d - 1) + ", 0)"; })
				.on('mouseover', function(d) {
					d3.select(this).select("circle").style("fill", 'grey');
				})
				.on('mouseout', function(d) {
					d3.select(this).select("circle").style("fill", 'darkred');
				});

			hint_red_cell.append('circle')	
				.attr("cx", scale_x.bandwidth() / 2)
				.attr("cy", scale_y.bandwidth() / 2)
				.attr("r", scale_x.bandwidth() / 2 - 2)
				.style("stroke-width", 0)
				.style("fill", 'darkred');

			hint_red_cell.append("text")
				.attr("dy", ".36em")
				.attr("x", scale_x.bandwidth() / 2)
				.attr("y", scale_y.bandwidth() / 2)
				.attr("text-anchor", "middle")
				.style("fill", 'white')
				.text(function(d, i) { return formatNumberAs00(d); });
		}

		function buildRedFieldData(d) {
			let data = new Array(33).fill(0);
			data.forEach(function (val, index) {
				data[index] = d.indexOf(index + 1) >= 0 ? 0 : Math.floor(Math.random() * 99) + 1;
			});

			return data;
		}

		function formatNumberAs00(num) {
			const num_pad = '00';
			var str = "" + num; 
			return num_pad.substring(0, num_pad.length - str.length) + str;
		}

		function getLottoStr(reds) {
			let str = '';
			reds.forEach(function (value) { str += formatNumberAs00(value) + ' ' });
			return str;
		}
	</script>

</html>