<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    
    <link rel="stylesheet" href="libs/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/process-ring.css">
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="libs/angular.js/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/ng-index-app.js"></script>
    <script type="text/javascript" src="/js/ng-util-service.js"></script>
    <script type="text/javascript" src="/js/ng-home-ctrl.js"></script>
    <script type="text/javascript" src="/js/ng-user-picker-ctrl.js"></script>
    <script type="text/javascript" src="/js/ng-publish-ctrl.js"></script>
</head>
<body ng-app="ng-index-app">
<div class="row-fluid">
    <div class="container-fluid">
        <ng-general-header-directive></ng-general-header-directive>
        
        <div ng-view></div>
        
        <h4 ng-controller="ng-index-footer-ctrl">{{footer}}</h4>
    </div>
</body>
</html>