<div ng-controller="ng-diagram-ctrl">
    <div>
        <div style="float:left; width:60px; " id="cornerBlock"></div>
        <div style="float:left; width:calc(100% - 60px); overflow:hidden;" id="headerBlock"></div>
    </div>
    <div style="clear:left;">
        <div style="float:left; width:60px; max-height:calc(100vh - 60px); overflow:hidden;" id="issuesBlock"></div>
        <div style="float:left; width:calc(100% - 60px); overflow:auto; max-height:calc(100vh - 60px);" id="contentBlock" onscroll="onContentScroll()"></div>
    </div>
</div>