<div ng-controller="ng-publish-release-data-ctrl">
  <form >
      <div>
        <button type="button" class="btn-sm" ng-click="syncToCloud()">
            <span class="process-ring glyphicon glyphicon-refresh" aria-hidden="true" ng-class="{ active: isSyncingToCloud }" data-anim="rotating">
            </span> Sync to Cloud
        </button> 
        <button type="button" class="btn-sm" ng-show="releaseContent" ng-click="addNewRelease()">
            <span class="process-ring glyphicon glyphicon-refresh" aria-hidden="true" ng-class="{ active: isAddingNew }" data-anim="rotating">
            </span> Add New Release
        </button> 
        <button type="button" class="btn-sm" ng-show="releaseContent" ng-click="syncToOffical()">
            <span class="process-ring glyphicon glyphicon-refresh" aria-hidden="true" ng-class="{ active: isSyncingToOffical }" data-anim="rotating">
            </span> Sync to Offical
        </button>
        <button type="button" class="btn-sm" ng-show="releaseContent && isReleaseDataChanged" ng-click="resetReleaseData()">
            Reset
        </button> 
      </div>
      <br>

    <div ng-show="releaseContent">
        <legend> Current Release </legend> 

        <div class="input-group input-group-sm">
            <span class="input-group-addon">期号</span>
            <input class="form-control" type="number" ng-model="releaseContent.lottery.issue" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">日期</span>
            <input class="form-control" type="date" ng-model="releaseContent.lottery.date" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="input-group input-group-sm">
        <span class="input-group-addon">奖号</span>
        <input class="form-control" type="text" placeholder="Format: 00 00 00 00 00 00+00" ng-model="releaseContent.lottery.scheme" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">奖池</span>
            <input class="form-control" type="number" ng-model="releaseContent.lottery.pool" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">销售</span>
            <input class="form-control" type="number" ng-model="releaseContent.lottery.bet" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">1 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[0]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">1 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[1]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">2 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[2]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">2 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[3]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">3 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[4]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">3 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[5]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">4 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[6]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">4 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[7]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">5 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[8]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">5 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[9]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">6 数量</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[10]" ng-change="onReleaseDataChanged()">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">6 奖金</span>
                    <input class="form-control" type="number" ng-model="releaseContent.lottery.bonus[11]" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">详情</span>
            <textarea class="form-control" rows="5" type="text" ng-model="releaseContent.lottery.details" ng-change="onReleaseDataChanged()"></textarea>
        </div>
        <br>

        <legend>Next Release</legend>


        <div class="input-group input-group-sm">
            <span class="input-group-addon">下期</span>
            <input class="form-control" type="number" ng-model="releaseContent.next.issue" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">日期</span>
            <input class="form-control" type="date" ng-model="releaseContent.next.date" ng-change="onReleaseDataChanged()">
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">截止</span>
                    <input class="form-control" type="time" ng-model="releaseContent.next.cutOffTime" ng-change="onReleaseDataChanged()">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">开奖</span>
                    <input class="form-control" type="time" ng-model="releaseContent.next.date" ng-change="onReleaseDataChanged()">
                </div>
            </div>
        </div>
        <br>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">红胆</span>
            <input class="form-control" type="text" ng-model="releaseContent.recommendation.redIncludes" ng-change="onReleaseDataChanged()">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-repeat" type="button" ng-click="RandomReds()"></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">红杀</span>
            <input class="form-control" type="text" ng-model="releaseContent.recommendation.redExcludes" ng-change="onReleaseDataChanged()">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-repeat" type="button" ng-click="RandomReds()"></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">蓝胆</span>
            <input class="form-control" type="text" ng-model="releaseContent.recommendation.blueIncludes" ng-change="onReleaseDataChanged()">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-repeat" type="button" ng-click="RandomBlues()"></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">蓝杀</span>
            <input class="form-control" type="text" ng-model="releaseContent.recommendation.blueExcludes" ng-change="onReleaseDataChanged()">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-repeat" type="button" ng-click="RandomBlues()"></button>
            </span>
        </div>
        <br>

        <legend>Data Version</legend>

        <div ng-repeat="(label, number) in releaseContent.dataVersion track by label">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">{{label}}</span>
                <input type="number" class="form-control" ng-model="releaseContent.dataVersion[label]" ng-change="onReleaseDataChanged()">
            </div>
            <br>
        </div>

    </div>

  </form>

  <nav>
    <ul class="pager">
        <li class="next">
            <a ng-click="leaveReleaseData()">Next <span aria-hidden="true">&rarr;</span></a>
        </li>
    </ul>
  </nav>

  <!-- Modal -->
    <div class="modal fade" id="submitReleaseDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Release Data</h4>
                </div>
                <div class="modal-body">
                Do you make sure submit the changes on this release?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="saveReleaseData()">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>
