<div ng-controller="ng-commit-release-ctrl">
    <form>
        <legend>Pending Items</legend>

        <div class="panel" 
                ng-class="{'panel-default': action.state === 'pending', 
                        'panel-success': action.state === 'success',
                        'panel-danger': action.state === 'error'}"
                ng-repeat="action in commitPackage.actions">
            <div class="panel-heading">
                <div class="row">
                    <label class="col-lg-11 col-md-11 col-xs-11" ng-click="action.state === 'success' ? '' : showFileContent(action, !action.showContent)">{{action.file}}</label>
                    <span class="col-lg-1 col-md-1 col-xs-1 glyphicon glyphicon-trash" ng-click="removeAction(action)"></span>
                </div>
            </div>
            <p ng-show="action.showContent" class="panel-body">
                {{action.content}}
            </p>
            <br>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="commit()" ng-disabled="commitStatus">Commit  <span ng-show="commitStatus">{{commitStatus}}</span></button>
    </form>
</div>