<div ng-controller="ng-publish-notification-ctrl">
    
    <form>
        <legend>Notification</legend>

        <div class="input-group">
            <span class="input-group-addon">模板</span>
            <select class="form-control" ng-model="selectedTemplate" ng-options="template.name for template in templateList" 
                ng-change="notification = selectedTemplate.notification"></select>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <textarea class="form-control" rows="3" type="text" ng-model="notification.title"></textarea>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">内容</span>
            <textarea class="form-control" rows="3" type="text" ng-model="notification.message"></textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="notifySpecifiedUsers"> Pick Users
            </label>
        </div>

        <div class="panel panel-default" ng-show="notifySpecifiedUsers">
            <div class="panel-body">
                <ng-user-picker-view></ng-user-picker-view>
            </div>
        </div>

    </form>

    <nav>
        <ul class="pager">
            <li class="previous"><a href="#publish/release"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li><button class="btn btn-primary" ng-click="notify()">Notify</button></li>
        </ul>
    </nav>
</div>